<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Домашняя страница</title>
</head>
<body>
<h1>Добро пожаловать, <span th:text="${name}">Пользователь</span>!</h1>
<p>Ваш email: <span th:text="${email}">example@example.com</span></p>

<a href="user/profile">Профиль пользователя</a><br>
<a href="moderator/dashboard">Панель модератора</a><br>
<a href="admin/dashboard">Панель администратора</a><br>

<form action="/auth/logout" method="post">
  <button type="submit">Выйти</button>
</form>
</body>
</html>